:root {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/background.png);
  width: 375px;
  height: 812px;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative; /* Serve para ser o elemento topo do elemento com position:absolute */
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1; /* Profundidade do elemento no eixo Z. */
}

/* O sinal de 'maior que' serve para dizer que as propriedades serão aplicadas apenas para o próximo nível de profundidade de elementos, ignorando outros níveis mais profundos. */
.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover; /* Retorna as proporções da imagem, cobrindo o espaço em que ela está. */
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  list-style: none;
  margin-top: 4rem;
  padding: 0px;
  display: flex;
  gap: 0.5rem;
  justify-content: center; /* Eixo principal do display:flex */
}

.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 10px;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.change_user {
  margin-top: 3rem;
  background-image: linear-gradient(to right, #f8b823, #fe1581, #f8b823);
}
